@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600&family=Maitree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600&family=Montserrat&display=swap");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  line-height: 1.1rem;
}
html {
  font-size: 125%;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  font-family: "maitree";
  margin: 0;
  font-weight: 600;
}
h4 {
  margin-bottom: 2px;
  margin-top: 12px;
}
p {
  font-family: "montserrat";
  font-size: 0.9rem;
}

.header p {
  font-size: 1.5rem;
  line-height: 2.3rem;
  width: 70%;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 3rem;
}
a {
  text-decoration: none;
  color: #ace8cd;
}

.header span {
  color: #ace8cd;
}
.App h1 {
  margin: 0;
  height: 74px;
}

.App {
  /* background-color: #5da9c29d; */
  background-color: #271870c0;
  color: white;
  min-height: 100vh;
  position: relative;
}

/* Forms.js */
.formComp {
  /* background-color: #5da9c29d; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

.formComp form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

.formComp input {
  position: relative;
  border-radius: 30px;
  width: 425px;
  height: 43px;
  padding-left: 25px;
  border: none;
  background-color: #00000078;
  color: white;
}

.formComp button {
  border: none;
  border-radius: 30px;
  align-items: center;
  position: absolute;
  right: 6px;
  top: 5px;
  box-shadow: none;
  width: 112px;
  height: 34px;
  background: skyblue;
}

.formComp button:hover {
  border: none;
  border-radius: 10px;
  background-color: #ace8cd;
  cursor: pointer;
}

/* Header.js */
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

/* Resutls.js */
.results .wrapper {
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  /* margin-top: -85px; */
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 0;
}
/* Title.js */
.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 3rem; */
}

.title h1 {
  margin-top: 10px;
  line-height: 1.1;
  margin-bottom: 150px;
}

/* BookApi.js */
.generalApiContainer {
  width: 41%;
  /* background-color: #0000009c; */
  border-radius: 11px;
  display: flex;
  width: 100%;
}

.generalApiContainer .textContainer {
  /* background-color: #7fffd4c9; */
  background-color: #0000009c;
  border-left: 4px solid #ace8cd;
  border-radius: 10px;
  padding: 4%;
  width: 50%;
}
.generalApiContainer .imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.generalApiContainer img {
  /* padding: 20px; */
  /* border-radius: 10px; */
  width: 360px;
  max-height: 536px;
  border: 6px solid rgb(0, 0, 0);
  box-shadow: 7px 7px 20px #131313, -7px -7px 20px #000;
}

/* .bookApi {
  flex-direction: row;
} */
/* This targets the book overview */
.bookApi p:nth-child(8) {
  margin-top: 30px;
}
/* This targets the movie overview */
.movieApi p:nth-child(9) {
  margin-top: 30px;
}
.movieApi {
  flex-direction: row-reverse;
}
.bookApi .display {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
}

.movieApi .display {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-bottom: 50px;
}

/* -----VERSUS/RATING CONTAINER---- */
.versusRatingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 117px;
  /* animation: bounce 0.4s linear; */
  justify-content: center;
  margin: 55px 0;
}

.winner {
  display: none;
}

.ratingTextContainer {
  margin: 5% 2%;
  /* background-color: #7fffd4c2; */
  /* display: none; */
  display: flex;
  flex-direction: row;
}
.ratingWrapper {
  display: flex;
  margin-left: 10px;
}
.ratingWrapper p:nth-child(2) {
  margin-left: 10px;
}

.versus {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  font-size: 4rem;
  width: 100%;
}
.winnerBtn {
  display: flex;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  align-items: center;
  box-shadow: none;
  width: 300px;
  height: 48px;
  background: skyblue;
  color: black;
  font-weight: bold;
  box-shadow: 3px 3px 3px;
  margin-left: 50%;
}
.winnerBtn:hover {
  cursor: pointer;
  color: red;
}

.button2 {
  display: flex;
  align-items: center;
  margin-right: 5%;
  justify-content: space-evenly;
}
.back2 {
  margin-right: 15%;
}
.back2 button {
  text-align: center;
  border: none;
  border-radius: 30px;
  /* align-items: center; */
  box-shadow: none;
  width: 300px;
  height: 48px;
  background: skyblue;
  box-shadow: 3px 3px 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.back2 button:hover {
  cursor: pointer;
  color: red;
}

.rating {
  /* width: 100%; */
  background-color: #0000009e;
  width: 485px;
  height: 75px;
  margin-top: 40px;
  animation: leftToRight 3s ease-in-out;
  animation-delay: 3s;
  margin-left: -100%;
  /* margin-left: 32%; */
  transition: margin-left 4s;
  opacity: 0;
}

.showRating {
  margin-left: 32%;
  opacity: 1;
}
/* @keyframes leftToRight {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 16%;
  }
} */

.back button {
  text-align: center;
  border: none;
  border-radius: 30px;
  align-items: center;
  box-shadow: none;
  width: 300px;
  height: 48px;
  background: skyblue;
  box-shadow: 3px 3px 3px;
}
.back button:hover {
  cursor: pointer;
  color: red;
}
.back {
  text-align: center;
  margin: 30px 0 70px 0;
}
/* versus.js */

/* Background video */

/* .backgroundVideos {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
} */
video {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.titleList {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}
.titleDecoration {
  background-color: #0000009c;
  border-left: 4px solid #ace8cd;
  border-radius: 10px;
  padding: 4%;
  width: 95%;
  margin: 10% 0 10% 0;
  text-decoration: underline #5da9c2;
}
.titleItems {
  list-style: none;
}
.titleList:hover {
  color: #3fc589;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.subHeader {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Maitree", sans-serif;
  line-height: 1.1;
}
.itemMessage {
  background-color: #0000009e;
  display: flex;
  justify-content: center;
  width: 680px;
  height: 85px;
  margin: 0 auto;
  padding: 5px;
}
.itemMessage span {
  color: red;
}
.errorMessage {
  color: white;
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.1;
}

/* FOOTER COMPONENT */

footer {
  background: #0000008f;
  font-size: 0.7rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
/* ----- FROM DEVELOPER TOOLS -----*/

/* -----FOR ARROW ANIMATION TO BE WORKED ON--- */
/* <div class="arrow"></div> */

/* CSS FOR ARROW ANIMATION */
/* 
.arrow,
.arrow:before
  position: absolute
  left: 50%

.arrow
  width: 40px
  height: 40px
  top: 50%
  margin: -20px 0 0 -20px
  -webkit-transform: rotate(45deg)
  border-left: none
  border-top: none
  border-right: 2px #fff solid
  border-bottom: 2px #fff solid

  
.arrow:before
  content: ''
  width: 20px
  height: 20px
  top: 50%
  margin: -10px 0 0 -10px
  border-left: none
  border-top: none
  border-right: 1px #fff solid
  border-bottom: 1px #fff solid
  animation-duration: 2s
  animation-iteration-count: infinite
  animation-name: arrow
  
@keyframes arrow
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translate(-10px, -10px) */

/* LOADING COMPONENT */
.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 20px solid black;
  border-radius: 50%;
  border-top: 20px solid skyblue;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CALCULATING COMPONENT */
.calculatingContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculatingBar {
  position: relative;
  height: 10px;
  width: 30%;
  border: 10px solid skyblue;
  border-radius: 15px;
}
.calculatingBar .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progress 4s ease-in infinite;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

/* Media Queries */

@media screen and (max-width: 370px) {
  .header p {
    font-size: 1.4rem;
    line-height: 1.5;
    width: 100%;
    text-align: center;
  }
  .header h1 {
    line-height: 0.9;
    margin-bottom: 15%;
  }
  .formComp input {
    width: 100%;
    margin-top: 40%;
  }
  .formComp button {
    width: 100%;
    position: absolute;
    right: 3px;
    top: 50px;
    box-shadow: none;
    height: 34px;
    margin-top: 40%;
  }
  .bookApi {
    margin-bottom: 15%;
  }
  .bookApi .display,
  .movieApi .display {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 50px 10px 0px 10px;
  }
  .bookApi .generalApiContainer {
    margin-bottom: 15%;
  }
  .App .results h1 {
    font-size: 1.7rem;
    margin-bottom: 45px;
  }

  .button2 {
    flex-direction: column;
  }
  .back2 {
    width: 100%;
  }
  .back2 button {
    width: 100%;
    margin-left: 6%;
  }
  .App .wrapper .generalApiContainer .textContainer {
    width: 95%;
  }
  .App .wrapper .generalApiContainer .imageContainer {
    width: 95%;
  }

  .generalApiContainer img {
    width: 100%;
  }
  .winnerBtnContainer {
    width: 100%;
  }
  .winnerBtn {
    margin: 0;
    margin-left: 10%;
    width: 85%;
  }
  .versus {
    font-size: 3rem;
  }
  .versusRatingContainer {
    margin: 30px 0px;
  }
  .wrapper {
    margin-bottom: 35%;
  }
  .subHeader {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 445px) {
  .bookApi {
    margin-bottom: 25%;
  }
  .bookApi {
    margin-bottom: 15%;
  }
  .bookApi .display,
  .movieApi .display {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 50px 10px 0px 10px;
  }
  .bookApi .generalApiContainer {
    margin-bottom: 15%;
  }
  .App .results .title h1 {
    font-size: 1.7rem;
    margin-bottom: 45px;
  }

  .button2 {
    flex-direction: column;
  }
  .back2 {
    width: 100%;
  }
  .back2 button {
    width: 85%;
    margin-left: 18%;
  }
  .wrapper .generalApiContainer .textContainer {
    width: 95%;
  }

  .generalApiContainer img {
    width: 100%;
  }
  .wrapper .generalApiContainer .imageContainer {
    width: 95%;
  }
  .winnerBtn {
    margin-left: 10%;
    width: 85%;
  }
  .winnerBtnContainer {
    width: 100%;
  }
  .versus {
    font-size: 3rem;
    margin-left: 8%;
  }
  .versusRatingContainer {
    margin: 30px 0px;
  }
  .wrapper {
    margin-bottom: 35%;
  }
  .App .wrapper .rating {
    width: 95%;
  }
  .ratingTextContainer h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 505px) {
  .errorMessage {
    font-size: 1rem;
  }
  .itemMessage {
    height: 10%;
  }
}

@media screen and (max-width: 570px) {
  .itemMessage {
    height: 100px;
  }
  .App .results .title h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 609px) {
  .errorMessage {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 620px) {
  .header p {
    font-size: 1.4rem;
    line-height: 1.7;
    width: 100%;
    text-align: center;
  }
  .header h1 {
    line-height: 0.9;
    margin-bottom: 10%;
  }
  .formComp input {
    width: 100%;
    margin-top: 40%;
  }
  .formComp button {
    width: 100%;
    position: absolute;
    right: 3px;
    top: 50px;
    box-shadow: none;
    height: 34px;
    margin-top: 40%;
  }
  .bookApi {
    margin-bottom: 25%;
  }
  .bookApi {
    margin-bottom: 15%;
  }
  .bookApi .display,
  .movieApi .display {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 50px 10px 0px 10px;
  }
  .bookApi .generalApiContainer {
    margin-bottom: 15%;
  }
  .title h1 {
    font-size: 2.2rem;
    margin-bottom: 45px;
  }

  .button2 {
    flex-direction: column;
  }
  .back2 {
    width: 100%;
  }
  .back2 button {
    width: 85%;
    margin-left: 18%;
  }
  .generalApiContainer .textContainer {
    width: 100%;
  }

  .generalApiContainer img {
    width: 100%;
    /* object-fit: cover; */
  }
  .generalApiContainer .imageContainer {
    width: 100%;
  }
  .winnerBtn {
    margin-left: 10%;
    width: 85%;
  }
  .winnerBtnContainer {
    width: 100%;
  }
  .versus {
    font-size: 3rem;
    margin-left: 8%;
  }
  .versusRatingContainer {
    margin: 30px 0px;
  }
  .wrapper {
    margin-bottom: 35%;
  }
  .App .wrapper .rating {
    margin-left: 5%;
    animation: leftToRight 3s ease-in-out;
  }
  @keyframes leftToRight {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 5%;
    }
  }
  .itemMessage {
    height: 100px;
  }
}

@media screen and (max-width: 725px) {
  .itemMessage {
    height: 10%;
  }
  .errorMessage {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 785px) {
  .errorMessage {
    font-size: 1.25rem;
  }
  .bookApi {
    margin-bottom: 25%;
  }
  .bookApi {
    margin-bottom: 15%;
  }
  .bookApi .display,
  .movieApi .display {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 50px 10px 0px 10px;
  }
  .bookApi .generalApiContainer {
    margin-bottom: 15%;
  }
  .App .results .title h1 {
    font-size: 2.2rem;
    margin-bottom: 15%;
  }

  .button2 {
    flex-direction: column;
  }
  .back2 {
    width: 100%;
    margin-right: 13%;
  }
  .back2 button {
    width: 85%;
    margin-left: 18%;
  }
  .generalApiContainer .textContainer {
    width: 85%;
  }

  .generalApiContainer img {
    width: 100%;
    /* object-fit: cover; */
  }
  .generalApiContainer .imageContainer {
    width: 85%;
  }
  .winnerBtn {
    margin-left: 12%;
    width: 85%;
  }
  .winnerBtnContainer {
    width: 100%;
  }
  .versusRatingContainer .versus {
    font-size: 3.5rem;
    margin-right: 35%;
  }
  .versusRatingContainer {
    margin: 30px 0px;
  }
  .wrapper {
    margin-bottom: 35%;
  }
  .wrapper .rating {
    margin-left: 16%;
  }
  @keyframes leftToRight {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 16%;
    }
  }
}

@media screen and (max-width: 980px) {
  .winnerBtnContainer {
    width: 100%;
  }
  .winnerBtnContainer .winnerBtn {
    margin-left: 4%;
    width: 94%;
  }
  .back2 {
    width: 100%;
  }
  .back2 button {
    width: 94%;
  }
}

@media screen and (max-width: 1015px) {
  .itemMessage {
    width: 70%;
  }
  .App .results .title h1 {
    margin-bottom: 35%;
  }
}

@media screen and (max-width: 1060px) {
  .winnerBtnContainer .winnerBtn {
    margin-left: 4%;
  }
  .title h1 {
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 1400px) {
  .rating {
    margin-left: 31%;
  }
}

@media screen and (max-width: 1400px) {
  .itemMessage {
    width: 70%;
  }
  .versus {
    font-size: 4rem;
    margin-right: 100px;
  }
  .winnerBtn {
    margin-left: 15%;
    /* width: 85%; */
  }
  .back2 button {
    margin-left: 10%;
  }
}

/* 
.versusRatingContainer {
  /* margin: 55px 0; */
/* margin: 24px 0;
} */
